<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div id="messages">
      </div>

 <br>
 <div class="jumbotron">
 <h1 class="display-4">Send Message</h1>
 <br>
 <textarea id = "message" class="form-control" placeholder="Your Message Here">
</textarea>
 <br>
 <button id="send" class="btn btn-success">Send</button>
 </div>

</div>


<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>


<script>

$(() => {
    $("#send").click(()=>{
       sendMessage({
         conversation_id: <%= conversationId %>,
          content:$("#message").val()});
        })
      getMessages()
    })

var socket = io();
socket.on(<%= conversationId %>, addMessages)
let token = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MSwibmFtZSI6ImFsYWEgZWxnbmR5IiwiZW1haWwiOiJhbGFhZWxnbmR5MjFAZ21haWwuY29tIiwicGFzc3dvcmQiOiJzaGExJGE0MDUzMDI2JDEkMDY0ZGY3N2UxNDk2NjZlYmQ4YzVjMTIyOWJlOWFiNDUwMGZmN2Y3YyIsInN0YXR1cyI6MSwiY3JlYXRlZEF0IjoiMjAxOS0wNS0xMVQxNToxMDoyMy4wMDBaIiwidXBkYXRlZEF0IjoiMjAxOS0wNS0xMVQxNToyNzoxNS4wMDBaIiwiaWF0IjoxNTU3NTg4ODgyfQ.yBtqqtekEJ0CQVzjuOwOqlK7ErvIR69cYpsCjzmhv90'

function addMessages(message){
   $("#messages").append(`
      <h4> ${message.sender_id} </h4>
      <p>  ${message.content} </p>`)
   }
function getMessages(){
   $.ajax({
    type: 'GET',
    url: 'http://localhost:3000/conversations/'+<%= conversationId %>,
    data: {},
    crossDomain: true,
    beforeSend: function(xhr) {
      xhr.setRequestHeader('Authorization', token)
    }
  }).then((data) => {
    data.messages.rows.forEach(addMessages)
  })
 }
function sendMessage(message){
   $.ajax({
    type: 'POST',
    url: 'http://localhost:3000/conversations/send_message',
    data: message,
    crossDomain: true,
    beforeSend: function(xhr) {
      xhr.setRequestHeader('Authorization', token)
    }
  })

 }
</script>
</body>
</html>